<div class="parking-lot-map">
  <div class="map-container">
    @for (street of streets(); track $index) {
      <div class="parking-street">
        <div
          class="parking-row top-row"
          [style.grid-template-columns]="'repeat(' + maxRowSpots() + ', 1fr)'"
        >
          @for (spot of street.topSpots; track spot.number) {
            <div
              class="spot-box top-spot"
              [class.free]="spot.status === 'Livre'"
              [class.occupied]="spot.status === 'Ocupada'"
              (click)="spotClick.emit(spot)"
            >
              <span class="spot-label">{{ spot.number }}</span>
              @if (spot.status === 'Ocupada' && spot.ticket) {
                @switch (spot.ticket.vehicle.type) {
                  @case ('MOTORCYCLE') {
                    <app-parking-spot-motorcycle [color]="spot.ticket.vehicle.color" />
                  }
                  @case ('VAN') {
                    <app-parking-spot-van [color]="spot.ticket.vehicle.color" />
                  }
                  @case ('TRUCK') {
                    <app-parking-spot-van [color]="spot.ticket.vehicle.color" />
                  }
                  @default {
                    <app-parking-spot-car [color]="spot.ticket.vehicle.color" />
                  }
                }
              }
            </div>
          }
        </div>

        <div class="street-corridor">
          <div class="dashed-line"></div>
        </div>

        @if (street.bottomSpots.length > 0) {
          <div
            class="parking-row bottom-row"
            [style.grid-template-columns]="'repeat(' + maxRowSpots() + ', 1fr)'"
          >
            @for (spot of street.bottomSpots; track spot.number) {
              <div
                class="spot-box bottom-spot"
                [class.free]="spot.status === 'Livre'"
                [class.occupied]="spot.status === 'Ocupada'"
                (click)="spotClick.emit(spot)"
              >
                <span class="spot-label">{{ spot.number }}</span>
                @if (spot.status === 'Ocupada' && spot.ticket) {
                  @switch (spot.ticket.vehicle.type) {
                    @case ('MOTORCYCLE') {
                      <app-parking-spot-motorcycle [color]="spot.ticket.vehicle.color" />
                    }
                    @case ('VAN') {
                      <app-parking-spot-van [color]="spot.ticket.vehicle.color" />
                    }
                    @case ('TRUCK') {
                      <app-parking-spot-van [color]="spot.ticket.vehicle.color" />
                    }
                    @default {
                      <app-parking-spot-car [color]="spot.ticket.vehicle.color" />
                    }
                  }
                }
              </div>
            }
          </div>
        }
      </div>
    }
  </div>
</div>
